body {
    background-color: #bfdbb6;
}

.nav {
    list-style-type: none;
    background-color: #709A33;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    border-spacing: 40px;
    background-color: rgb(144, 211, 201);
    font-size: 20px;
    color: rgba(10, 82, 1, 0.532);  
}

     

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto 25%;
}

.grid-item {
    background-color: #bfdbb6;
    text-align: center;
    font-size: 17px;
    padding: 20px;
}

.navmenu {
    grid-row: 1;
    grid-column: 1 / span 3;
}

.title {
    grid-row: 2 / span 2;
    grid-column: 1 / span 3;
}

ul a:hover {
    background-color: #bfdbb6;
}
ul p:hover {
    background-color: #bfdbb6;

}

.main1 {
    grid-column: 1 / span 1;
    grid-row: 3;
}

.image1 {
    grid-column: 2 / span 2;
    grid-row: 3;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: rgba(10, 82, 1, 0.532);
}


