body {
    background-color: #B2DB46;
}

ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
}

.grid-item {
    background-color: #2DDB1E;
    text-align: center;
    font-size: 17px;
    padding: 20px;
}

.navmenu {
    grid-row: 1;
    grid-column: 1 / span 3;
}