body {
    background-color: #a6c45d;
}

ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navbar {
    border-spacing: 40px;
    background-color: rgb(144, 211, 201);
    color:#081826; 
    border-spacing: 40px;
    font-size: 20px;
    color: rgba(10, 82, 1, 0.532);  
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
}

.navmenu {
    grid-row: 2;
    grid-column: 1 / span 2;
}

.grid-item {
    background-color: #a6c45d;
    text-align: center;
    font-size: 17px;
    padding: 20px;
}

.logo {
    grid-row: 1; 
    grid-column: 1 / span 2;
}

.hours {
    grid-row: 3;
    grid-column: 1 / span 2;
}

.who-we-are-1 {
    grid-row: 5; 
    grid-column: 1;
}

.who-we-are-2 {
    grid-row: 6;
    grid-column: 1 / span 1;
}

.location {
    grid-row: 5 / span 2;
    grid-column: 2;
}

.our-menu {
    grid-row: 2; 
    grid-column: 1 / span 2;
}

.menu {
    grid-row: 4;
    grid-column: 1 / span 2;
}

.contact-us {
    grid-row: 2; 
    grid-column: 1 / span 2;
}

.forms {
    grid-row: 3;
    grid-column: 2; 
}

.contact { 
    grid-row: 3: 
    grid-column: 1;
}